<div *ngIf="product != undefined" id="product" >
    <a href="{{product.href}}"><img src="{{product.img}}" width="{{product.width}}" height="{{product.height}}" ></a>
    <div class="info">
        <h3>
        <a [title]="product.name + ' details'" href="{{product.href}}">
            {{product.name}}
        </a>
        </h3>

        <p *ngIf="product.description" class="desc">Description: {{ product.description }}</p>
        <div class="ratePrice">
            <p *ngIf="product.rating" class="rate">Rating: <span class="rating">{{product.rating}}/10</span> </p>
            <p > Price: <span class="price">{{product.price}} tg </span></p>
            <a (click)="controlLike()" id="like"><img src="https://www.svgrepo.com/show/499778/like.svg" width="40px" height="30px"></a>
            <p> Likes: {{product.like}}</p>
        </div>
        <div id="butts">
            <div>
                <a href=""><button type="button" (click)="share(product.href)">Share</button></a>
                <p *ngIf="product && product.price > 700">
                    <button type="button" (click)="onNotify()">Notify Me</button>
                </p>
            </div>
            <a (click)="remove()" id="remove"><img src="https://www.svgrepo.com/show/499798/delete.svg" width="40px" height="30px"></a>
        </div>
    </div>
</div>