<p>product-items works!</p>
<a href="{{product.href}}"><img src="{{product.img}}" width="{{product.width}}" height="{{product.height}}" ></a>
<div class="info">
<h3>
  <a [title]="product.name + ' details'" href="{{product.href}}">
    {{product.name}}
  </a>
</h3>

<p *ngIf="product.description" class="desc">Description: {{ product.description }}</p>
<div class="ratePrice">
<p *ngIf="product.rating" class="rate">Rating: <span class="rating">{{product.rating}}/10</span> </p>
<p > Price: <span class="price">{{product.price}} tg </span></p>
</div>
<a href=""><button type="button" (click)="share(product.href)">Share</button></a>
<p *ngIf="product && product.price > 700">
    <button type="button" (click)="onNotify">Notify Me</button>
  </p>
</div>