<div>
  <div>
    <img src="https://www.svgrepo.com/show/497741/back-square.svg" href="" class="back-btn" (click)="back()">
  </div>
<div *ngIf="loaded">
    <div class="titlepage">
    <h1>Album page</h1>
</div>
<div class="album-details" >
  <div>
    <h2>Album detail #{{album.id}}</h2>
  </div>
    <div class="edit">
      <h3> Titile : {{album.title}}</h3>        
          <input [(ngModel)]="newTitle" type="text" placeholder="Edit title" />   
        <div>
            <a class="save" (click) = "saveTitle()"><img src="https://www.svgrepo.com/show/507979/check-square.svg" alt="" width="30px" height="30px"></a>
        </div>
      </div>
      <div class="photos">
        <h3><a class="link" routerLink="/albums/{{album.id}}/photos">Photos</a> </h3>
      </div>
</div>
<h3 *ngIf="!loaded">Album item is loading</h3>
</div>
</div>